# Week 7

By Saira Chawla

### Table of Contents

1. [Dealing with characters and strings](#bullet1)
2. [Print function](#bullet2)
3. [Count number of characters](#bullet3)
4. [String manipulation](#bullet4)
5. [String manipulation with Regex](#bullet5)
6. [Cheatsheet](#bullet6)

## 1. Dealing with characters and strings <a class="anchor" id="bullet1"></a>

In [2]:
# use quotation marks to assign a string/char to an object

a = "learning to create"
b = "a"
c = "character string"
d = 3.14

## ''/"" are almost synonymous

In [3]:
# test if strings are strings with type()
# convert strings to str with str()

In [4]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>

In [5]:
d = str(d)
print(d)
print(type(d))

3.14
<class 'str'>

Ways to combine strings:

In [6]:
a + b + c

'learning to createacharacter string'

In [7]:
a + ' ' + b + ' ' + c
## the join operator combines strings with a separator

'learning to create a character string'

In [8]:
### to use the + operator for string concatenation, the args must be a string
### i.e. -

'hello' + 4

### The error demenstrates str can not concatenate with integer

TypeError: can only concatenate str (not "int") to str

In [9]:
### thus, must do -
"hello" + str(4)

'hello4'

In [10]:
### join() function
" ".join([a, b, c, d])

'learning to create a character string 3.14'

The join function and + operator are the common ways you'll use to combine strings. However, there are three more ways to combine strings that are older versions. Link to resource: https://www.digitalocean.com/community/tutorials/python-string-concatenation

## 2. Print function<a class="anchor" id="bullet2"></a>

In [11]:
##NICK- i feel like the print function is pretty explanatory, the only thing i would note is
##that a print function returns None, but I am unsure how to demonstrate that
print(" ".join([a, b, c, d]))

learning to create a character string 3.14

In [12]:
##NICK- secondly, marco demonstrates how to use R's print function to write to a file
## I am not sure what the equivalent of that is as I have only written to CSVs

## 3. Count number of characters<a class="anchor" id="bullet3"></a>

In [13]:
# one character has lenth 1
len(b)

1

## 4. String Manipulation<a class="anchor" id="bullet4"></a>

In [14]:
x = "Learning To MANIPULATE strinGS in Python"

In [15]:
# what does this do?
print(x.lower())
print(x.upper())

learning to manipulate strings in python
LEARNING TO MANIPULATE STRINGS IN PYTHON

In [16]:
# extract the 3rd character in string
x[2]

'a'

In [17]:
# extract multiple characters/a substring in a string
x[12:22]

'MANIPULATE'

In [18]:
# replace a character/substring
x.replace('MANIPULATE', 'change')

'Learning To change strinGS in Python'

In [19]:
# split elements of a string
x.split()

['Learning', 'To', 'MANIPULATE', 'strinGS', 'in', 'Python']

In [20]:
y = "Alabama-Alaska-Arizona-Arkansas-California"
y.split(sep='-')

['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California']

##NICK- there is no equivalent of stringr in python
 https://community.alteryx.com/t5/Data-Science/Moving-from-R-to-Python-The-Libraries-You-Need-to-Know/ba-p/139042

## 5. String manipulation with Regex<a class="anchor" id="bullet5"></a>

Regex is a universal string manipulation library. The equivalent in R is called stringr.

In [21]:
import regex as re

In [22]:
# substitute characters examples
re.sub(pattern="R", repl='Python', string='I love R')

'I love Python'

In [23]:
re.sub("\\$", "!", "I love Python$")

'I love Python!'

In [24]:
re.sub("\\\\", " ", "I\\need\\space")

'I need space'

In [25]:
# substitute any type of character
re.sub("\\d", "_", "I'm working in Python 3.10.2")

"I'm working in Python _.__._"

In [26]:
re.sub("\\D", "_", "I'm working in Python 3.10.2")

'______________________3_10_2'

In [27]:
##NICK- not sure what the equivalent of grep is in python, seems like the function
##matches the elements from a vector that match a pattern

In [28]:
x = "I like beer! #beer, @wheres_my_beer, I like R (v3.2.2) #rrrrrrr2015"

In [29]:
# remove space or tabs
re.sub("[[:blank:]]","", x)

'Ilikebeer!#beer,@wheres_my_beer,IlikeR(v3.2.2)#rrrrrrr2015'

In [30]:
# replace punctuation with whitespace
re.sub(pattern = "[[:punct:]]", repl = " ", string=x)

'I like beer   beer   wheres my beer  I like R  v3 2 2   rrrrrrr2015'

In [31]:
# remove alphanumeric characters
re.sub("[[:alnum:]]","", x)

'  ! #, @__,    (..) #'

In [32]:
# use ^ for negation
re.sub("[^[:alnum:]]","", x)

'IlikebeerbeerwheresmybeerIlikeRv322rrrrrrr2015'

In [33]:
##NICK- the rest of this part of marco's code focuses on grep examples

In [1]:
## detecting patterns
## ATTEMPT AT MY EQUIVALENT OF GREP, it didn't work 
locations = ["New York", "D.C.", "Baltimore", "Atlanta", "Miami", "Dallas", "San Francisco", "San Diego",
            "San Antonio", "Detroit", "Chicago"]
re.search("New", locations)

SyntaxError: EOL while scanning string literal (1329854822.py, line 3)

## 6. Cheatsheet<a class="anchor" id="bullet6"></a>
It is impossible to memorize the entire regex library and what everything stands for, so it is good to keep a solid cheatsheet on hand. https://cheatography.com/davechild/cheat-sheets/regular-expressions/

In [35]:
##Final notes, I feel like it is important to demonstrate re.search, re.find, re.match, etc
##Regex is a universal language, but I don't think it translates well from R to Python as the 
##functionality of the languages are different.